<ion-header>
  <ion-toolbar class="app-toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>{{ 'DASHBOARDS.TITLE' | translate }}</ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/profile']">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-select interface="popover" [(ngModel)]="selectedRoom" (ionChange)="loadChart()">
      <ion-select-option *ngFor="let r of rooms" [value]="r">{{ r }}</ion-select-option>
    </ion-select>
  </ion-toolbar>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="prevYear()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>{{ viewYear }}</ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="nextYear()">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{ 'DASHBOARDS.CHART_TITLE' | translate }} ({{ selectedRoom }})
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="chart-placeholder">
        {{ 'DASHBOARDS.CHART_PLACEHOLDER' | translate }} {{ viewYear }}
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
