<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'LOGIN.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">{{ 'LOGIN.USERNAME' | translate }}</ion-label>
        <ion-input [(ngModel)]="username" autocomplete="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">{{ 'LOGIN.PASSWORD' | translate }}</ion-label>
        <ion-input [(ngModel)]="password" type="password" autocomplete="current-password"></ion-input>
      </ion-item>

      <ion-button expand="block" class="ion-margin-top" (click)="onLogin()">
        {{ 'LOGIN.SIGN_IN' | translate }}
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
