<ion-header>
  <ion-toolbar class="app-toolbar">
    <ion-title>{{ 'DSGVO.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss(false)">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="text">
    <p>{{ 'DSGVO.TEXT_1' | translate }}</p>
    <p>{{ 'DSGVO.TEXT_2' | translate }}</p>
  </div>

  <div class="actions">
    <ion-button color="danger" expand="block" (click)="dismiss(false)">
      {{ 'DSGVO.DECLINE' | translate }}
    </ion-button>
    <ion-button color="success" expand="block" (click)="dismiss(true)">
      {{ 'DSGVO.ACCEPT' | translate }}
    </ion-button>
  </div>
</ion-content>
