<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'PROFILE.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        {{ 'PROFILE.LOGOUT' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ 'PROFILE.LANGUAGE' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>{{ 'PROFILE.LANGUAGE' | translate }}</ion-label>
        <ion-select interface="popover" [(ngModel)]="lang" (ionChange)="onLangChange()">
          <ion-select-option value="de">{{ 'PROFILE.GERMAN' | translate }}</ion-select-option>
          <ion-select-option value="en">{{ 'PROFILE.ENGLISH' | translate }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ 'CHANGE_PW.TITLE' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" (click)="openChangePassword()">
        {{ 'CHANGE_PW.OPEN' | translate }}
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
