<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'CHANGE_PW.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input
      [label]="'CHANGE_PW.OLD' | translate"
      labelPlacement="stacked"
      type="password"
      [(ngModel)]="oldPassword"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      [label]="'CHANGE_PW.NEW' | translate"
      labelPlacement="stacked"
      type="password"
      [(ngModel)]="newPassword"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      [label]="'CHANGE_PW.CONFIRM' | translate"
      labelPlacement="stacked"
      type="password"
      [(ngModel)]="confirmPassword"
    ></ion-input>
  </ion-item>

  <ion-button expand="block" fill="outline" (click)="dismiss()">
    {{ 'CHANGE_PW.CANCEL' | translate }}
  </ion-button>

  <ion-button expand="block" (click)="save()" [disabled]="saving">
    {{ 'CHANGE_PW.SAVE' | translate }}
  </ion-button>
</ion-content>
