<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'PW.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form">
    <ion-item>
      <ion-input
        type="password"
        [label]="'PW.OLD' | translate"
        labelPlacement="stacked"
        formControlName="oldPassword">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        type="password"
        [label]="'PW.NEW' | translate"
        labelPlacement="stacked"
        formControlName="newPassword">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        type="password"
        [label]="'PW.CONFIRM' | translate"
        labelPlacement="stacked"
        formControlName="confirmPassword">
      </ion-input>
    </ion-item>

    <ion-button expand="block" class="ion-margin-top" (click)="submit()">
      {{ 'COMMON.SAVE' | translate }}
    </ion-button>
  </form>
</ion-content>
